#nav {
    z-index: 100;
    &.container-fluid {
        background: var(--black) !important;
    }

    .btn-menu {
        border: 0;
        color: var(--white);
        outline: none;
        background: transparent;
    }

    .nav-link {
        color: var(--white);
    }

    .nav-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 56px;
        background: var(--white);
        transition: all .3s ease-out;
    }
}

@media (min-width: 576px) {
    #nav {
        position: fixed;
    }
}

