    #overvil {
        background: url(../../../../assets/img/about/overvil.png) no-repeat top / cover;
        height: 50vh;
        padding: 0;

        .overvil-content {
            .info {
                width: 60%;
                height: 100%;
                padding: 1rem;
                background-color: var(--yellow);
                justify-content: space-between;
                gap: 0 !important;

                .title {
                    font-size: 2rem;
                }
            }
        }
    }

    @media (min-width: 567px) {

        #overvil {
            padding: 0 2rem;

            .overvil-content {
                .info {
                    width: auto;
                    height: auto;
                    gap: 3.5rem !important;

                    .title {
                        font-size: 3.5rem;
                    }

                    .text {
                        color: var(--black);
                        font-size: 16px;
                    }
                }


            }
        }
    }

    @media (min-width: 992px) {

        .overvil-content {

            .shadow-overvil {
                max-width: 250px;
                height: 20px;
                width: 100%;
                box-shadow: -541px 0px 0px 0px var(--purple);
                background-color: var(--yellow);
            }

        }
    }

    .shapes {
        max-width: 103px;
        width: 100%;
        height: 116px;
        background-color: var(--yellow);
        left: -10px;
        top: 70px;
        border-top-left-radius: 50px;
    }

    .circle {
        width: 74px;
        height: 74px;
        border-radius: 50px;
        bottom: -40px;
        left: 80px;
        background-color: var(--purple);
    }